[submodule "FEX"]
	path = FEX
	url = https://github.com/spitefulowl/FEX.git
	branch = staging
[submodule "wine"]
	path = wine
	url = https://github.com/spitefulowl/wine.git
	branch = staging
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/spitefulowl/dxmt.git
	branch = staging
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/spitefulowl/madeira-dock.git
	branch = staging
